@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Dođite i uživajte u filmovima</h1>
        <p class="lead">Dobrodošli na našu platformu za iznajmljivanje filmova. Pronađite vaše omiljene filmove i uživajte u gledanju kod kuće.</p>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Kako funkcioniše?</h2>
            <p>Iznajmljivanje filmova na našoj platformi je jednostavno. Registrujte se, pretražite našu kolekciju filmova, odaberite film koji želite iznajmiti, unesite datum iznajmljivanja i to je to! Uživajte u gledanju svog omiljenog filma.</p>
            
        </div>
        <div class="col-md-4">
            <h2>Naša kolekcija filmova</h2>
            <p>Imamo širok izbor filmova iz različitih žanrova. Bez obzira da li volite akciju, komediju, drame ili naučnu fantastiku, sigurno ćete pronaći film koji vam odgovara.</p>
            
        </div>
        <div class="col-md-4">
            <h2>Postanite član</h2>
            <p>Registrujte se kod nas i postanite član naše filmske zajednice. Uživajte u brojnim pogodnostima kao što su povoljnije cijene iznajmljivanja, posebne ponude i još mnogo toga.</p>
            
        </div>
    </div>
</div>
